# Pandas 100题练习

# 时间：2019.01.04

## 一. 基础部分

### 导入Pandas模块

#### 1. 导入Pandas
练习Pandas之前，首先需要导入Pandas模块，并约定简称为pd

In [1]:
import pandas as pd

#### 2. 查看Pandas版本

In [2]:
print(pd.__version__)

0.23.4

### 创建Series数据类型
Pandas中，Series可以看作由1列数据组成的数据集

创建Series语法：```s = pd.Series(data, index=index)```，可以通过多种方式进行创建，以下介绍3种常用方法

#### 3. 从列表创建Series

In [3]:
arr = [0, 1, 2, 3, 5, 8]
s1 = pd.Series(arr) # 如果不指定索引，则默认从0开始
s1

0    0
1    1
2    2
3    3
4    5
5    8
dtype: int64

#### 4. 从Ndarray创建Series

In [4]:
import numpy as np

n = np.random.randn(5) # 创建一个随机Ndarray数组

index = ['a', 'b', 'c', 'd', 'e']
s2 = pd.Series(n, index=index)
s2

a    1.082073
b   -0.586976
c   -0.184515
d   -0.002938
e   -0.776287
dtype: float64

#### 5. 从字典创建Series

In [5]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 5, 'e': 8}
s3 = pd.Series(d)
s3

a    1
b    2
c    3
d    5
e    8
dtype: int64

### Series基本操作

#### 6. 修改Series索引

In [6]:
print(s1)

s1.index = ['A', 'B', 'C', 'D', 'E', 'F'] # 修改后的索引
s1

0    0
1    1
2    2
3    3
4    5
5    8
dtype: int64

A    0
B    1
C    2
D    3
E    5
F    8
dtype: int64

#### 7. Series纵向拼接

In [7]:
s4 = s3.append(s1) # 将s1拼接到s3
s4

a    1
b    2
c    3
d    5
e    8
A    0
B    1
C    2
D    3
E    5
F    8
dtype: int64

#### 8. Series按指定索引删除元素

In [8]:
print(s4)
s4 = s4.drop('e') # 删除索引为e的值
s4

a    1
b    2
c    3
d    5
e    8
A    0
B    1
C    2
D    3
E    5
F    8
dtype: int64

a    1
b    2
c    3
d    5
A    0
B    1
C    2
D    3
E    5
F    8
dtype: int64

  #### 9. Series修改指定索引元素

In [10]:
s4['A'] = 6
s4

a    1
b    2
c    3
d    5
A    6
B    1
C    2
D    3
E    5
F    8
dtype: int64

#### 10. Series按指定索引查找元素

In [22]:
s4['B']

1

#### 11. Series切片操作

In [13]:
s4[:3] # 对s4的前3个数据进行访问

a    1
b    2
c    3
dtype: int64

### Series运算

#### 12. Series加法运算
Series的加法运算是按照索引运算，如果索引不同则填充```NaN```(空值)

In [14]:
s4.add(s3)

A     NaN
B     NaN
C     NaN
D     NaN
E     NaN
F     NaN
a     2.0
b     4.0
c     6.0
d    10.0
e     NaN
dtype: float64

#### 13. Series减法运算
Series的减法运算是按照索引运算，如果索引不同则填充NaN(空值)

In [16]:
s4.sub(s3)

A    NaN
B    NaN
C    NaN
D    NaN
E    NaN
F    NaN
a    0.0
b    0.0
c    0.0
d    0.0
e    NaN
dtype: float64

#### 14. Series减法运算
Series的乘法运算是按照索引运算，如果索引不同则填充NaN(空值)

In [17]:
s4.mul(s3)

A     NaN
B     NaN
C     NaN
D     NaN
E     NaN
F     NaN
a     1.0
b     4.0
c     9.0
d    25.0
e     NaN
dtype: float64

#### 15. Series除法运算
Series的除法运算是按照索引运算，如果索引不同则填充NaN(空值)

In [18]:
s4.div(s3)

A    NaN
B    NaN
C    NaN
D    NaN
E    NaN
F    NaN
a    1.0
b    1.0
c    1.0
d    1.0
e    NaN
dtype: float64

#### 16. Series求中位数

In [21]:
s4.median()

3.0

#### 17. Series求和

In [20]:
s4.sum()

36

#### 18. Series求最大值

In [25]:
s4.max()

8

#### 19. Series求最小值

In [24]:
s4.min()

1